<template>
    <div id="app">
        <h1>hello</h1>
    </div>
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style>
#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
</style>